* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.page-content {
    padding-bottom: 80px; /* Footer height */
    min-height: 100vh;
    background-color: white;
    color: rgb(0, 0, 0);
}

header {
    height: 80px;
    width: 100%;
    background-color: gray;
}

#pokemon_list {
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

/* Pokemon-Karten */
.pokemon-card {
    display: flex;
    flex-direction: column;
    background-color: #56d3be;
    height: 250px;
    width: 350px;
    border-radius: 24px;
    padding: 24px;
    position: relative;
}

.pokemon-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url(./img/pokeball-bg.png);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: 160px 80px;
    z-index: 5;
}

.pokemon-id {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
}

.pokemon-name {
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}

.type-img-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.pokemon-type-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pokemon-type {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 32px;
    height: fit-content;
    border-radius: 16px;
    color: white;
}

.pokemon-img {
    height: 120px;
    width: 120px;
    object-fit: contain;
    margin-top: auto;
    z-index: 10;
}

/* Load more Button */
.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    font-size: 18px;
}

.load-more-button {
    font-size: 18px;
    padding: 8px 24px;
    background-color: #eeeeee;
    border-radius: 8px;
    border: unset;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.load-more-button:hover {
    cursor: pointer;
    filter: brightness(0.95);
}

.load-button-img {
    height: 30px;
}

.pokeball-load {
    height: 32px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    background-color: gray;
    color: white;
    width: 100%;
    height: 80px;
}
